<div class="box wide">
  <div class="legend">
    会员注册
  </div>

  <p>
  	本网站(<%= Rails.application.name %>)只接受邀请注册, 以保证用户素质和推荐文章的质量。但是你可以通过以下渠道获得注册邀请码：
	<ul>
	  <li>如果你认识网站已注册的会员，请向他们索取邀请码， <a href="/u/">点击这里查看网站会员</a>。</li>
	  <li>给站长发一封自荐信：<a href="mailto: master@inruby.com">master[@]inruby.com</a></li>
	</ul>
	谢谢您的关注！
  </p>
</div>
