<div class="box wide">
	<div class="legend">
		密码重置
	</div>

  <p>
  如果您忘记了密码，请输入您的E-mail地址或用户名
  下面的指令将通过电子邮件发送给您。
  </p>

  <%= form_tag reset_password_url do %>
    <%= label_tag :email, "用户名或E-mail:" %>
    <%= text_field_tag :email, "", :size => 30 %>
    <br />

    <p>
    <%= submit_tag "重置" %>
    </p>
  <% end %>
</div>
