<div class="markdown_help" style="display: none; padding-top: 0.5em;">
  <table border="0">
  <tr><td colspan="2">内容的编辑采用的是Markdown语法，目标是成为一种适用于网络的书写语言，实现「易读易写」</td></tr>
  <tr>
    <td width="125" height="30" valign="bottom"><h4>标题</h4></td>
    <td>在标题前面添加 <tt>#号(#号越多，标题越小)</tt></td>
  </tr>
  <tr>
    <td><strong>文字粗体</strong></td>
    <td>在文字两边添加:  <tt>**两个星号**</tt></td>
  </tr>
  <tr>
    <td>分割线</td>
    <td>在单行添加三个及以上星号:  <tt>****</tt></td>
  </tr>
  <tr>
    <td>代码块</td>
    <td>在代码段落前后 <tt>用反引号把它包起来[`]</tt></td>
  </tr>
  <tr>
    <td><pre style="margin: 0px;">预处理文本</pre></td>
    <td>在段落前面添加 <tt>4个空格或1个制表符就可以</tt></td>
  </tr>
  <tr>
    <td height="30"><blockquote>文本块</blockquote></td>
    <td>在段落前添加： <tt>&gt;</tt></td>
  </tr>
  <tr>
    <td><a href="#"
      style="color: inherit;">添加链接</a></td>
    <td><tt>[说明](路径)</tt> 如:[谷歌](http://www.google.com)</td>
  </tr>
  <% if defined?(allow_images) && allow_images %>
    <tr>
      <td>添加图片</td>
      <td><tt>![说明](路径) 如：![谷歌](http://www.google.com/logo.png)</tt> </td>
    </tr>
  <% end %>

  </table>
</div>
