<div class="markdown_help" style="display: none; padding-top: 0.5em;">
  <table border="0">
  <tr>
    <td width="125" height="30"><em>文字强调</em></td>
    <td>在文字两边添加 <tt>*星号*</tt></td>
  </tr>
  <tr>
    <td><strong>文字粗体</strong></td>
    <td>在文字两边添加 <tt>**两个星号**</tt></td>
  </tr>
  <tr>
    <td><strike>删除线</strike></td>
    <td>在文字两边添加 <tt>~~两个波浪线~~</tt></td>
  </tr>
  <tr>
    <td height="60"><a href="#"
      style="color: inherit;">添加链接</a></td>
    <td><tt>[链接说明](链接路径)</tt> 或者直接粘贴链接路径。如:<br>[谷歌](http://www.google.com)</td>
  </tr>
  <tr>
    <td height="30"><blockquote>文本块</blockquote></td>
    <td>在段落前添加： <tt>&gt;</tt></td>
  </tr>
  <tr>
    <td><pre style="margin: 0px;">预处理文本</pre></td>
    <td>在段落前添加至少<tt>3个空格</tt></td>
  </tr>

  <% if defined?(allow_images) && allow_images %>
    <tr>
      <td height="60">添加图片</td>
      <td><tt>![图片说明](图片路径). 如：<br>![谷歌logo](https://www.google.com/images/srpr/logo4w.png)</tt> </td>
    </tr>
  <% end %>

  </table>
</div>
